<% layout('./layouts/boilerplate') -%>
<body>
    <div class="row  row-cols-xs-1 row-cols-sm-2 row-cols-lg-3 g-4 mt-2">
    <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link shadow ">
        <div class="col">
        <div class="card listing-card h-100" style="width: 100%;">
            <img src="<%=listing.image%>" class="card-img-top" alt="listing-image">
            <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <b><%= listing.title %></b><br>
            ₹ <%= (listing.price).toLocaleString("en-IN") %> for 2 nights
        </div>
        <div>
            <i class="fa-solid fa-star text-warning"></i>
            <%= (Math.random() + 4).toFixed(1) %>
        </div>
    </div>
</div>

        </div>
    </div>
    <% } %>
    </a>
    
</div>
</body>


