<% layout('./layouts/boilerplate') -%>
<body>
    <!-- listing aa ayi  -->
    

    <div class="offset-2">
        <h3><%= listing.title %></h3>
        <div class="card listing-card" style="width: 45rem;">
        <img style="height: 15rem;" src="<%=listing.image%>" class="card-img-top " alt="listing image">
        <div class="card-body">
            <p>Owned By : <i>@<%= listing.owner.username %> </i> </p>
            <p class="card-text"><%= listing.description %>
                <br>
                &#8377; <%= listing.price.toLocaleString("en-IN") %> for 2 nights
                <br>
                <%= listing.location %>
                <br>
                <%= listing.country %>
            </p>
            <% if(curUser&&curUser._id.equals(listing.owner._id)) {%>
            <div class="d-flex justify-content-around">
                <a href="/listings/<%=listing.id%>/edit" class="btn btn-danger">
                    Edit
                </a>
                <form method="post" action="/listings/<%=listing.id%>?_method=DELETE"> 
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <hr>
            <div class="">
            <% if(curUser){ %> 
                <h4>Leave a review</h4>
                <form class="form-label needs-validation" novalidate method="post" action="/listings/<%=listing.id%>/reviews">
                    <label for="rating" >Rating</label>
                    <input type="range"  class="form-range"   min="1" max="5" id="rating" name="review[rating]">
                    <div class="form-floating mb-3 ">
                        <textarea style="height: 100px" class="form-control" name="review[comment]" required placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Comments</label>
                        <div class="invalid-feedback">
                            Please add some Comments for review
                        </div>
                    </div>
                    <button class="btn btn-outline-primary">submit</button>
                </form>
                <% } %>
            </div>

            <h4>All reviews</h4>
            <div class="row" >
                 <% for(review of listing.reviews){ %>
            <div class="card col-5 me-4 ms-2 mb-4" >
                <div class="card-body">
                <h5 class="card-title"> <%= review.author.username %></h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="card-text">rating : <%= review.rating  %> stars</p>
                </div>
                <form method="post" action="/listings/<%=listing.id%>/reviews/<%=review.id%>?_method=DELETE">
                    <button class="btn btn-dark mb-3 mt-2">Delete</button>
                </form>
            </div>
                    <% } %>
            
            
            </div>
           
        </div>
    </div>
    </div>
    
</body>
